---
import { GitHubLogo } from "@astropub/icons";
import { ActivityCalendar, type ThemeInput } from "react-activity-calendar";

export type Activity = {
  date: string;
  count: number;
  level: 0 | 1 | 2 | 3 | 4;
};

export type Year = number | "last";

export type ApiResponse = {
  total: {
    [year: number]: number;
    [year: string]: number;
  };
  contributions: Array<Activity>;
};

export const prerender = false;

const apiUrl = "https://github-contributions-api.jogruber.de/v4/";
const response = await fetch(`${apiUrl}1hachem?y=last`);
const data = (await response.json()) as ApiResponse;

const gitHubTheme = {
  dark: ["#04080F", "#507DBC", "#BBD1EA", "#A1C6EA", "#DAE3E5"],
} satisfies ThemeInput;

const defaultLabels = {
  totalCount: "{{count}} contributions in the last year",
};
---

<div class="flex flex-col gap-8">
  <h3
    class="flex items-center justify-center gap-2 text-center text-sm font-bold"
  >
    Going to flex my github activity here
  </h3>
  <ActivityCalendar
    data={data.contributions}
    theme={gitHubTheme}
    maxLevel={4}
    labels={defaultLabels}
    colorScheme="dark"
  />
  <div class="flex justify-end">
    <a
      href="https://github.com/1hachem"
      class="flex items-center gap-2 hover:underline"
      target="_blank"
    >
      @1hachem
      <div class="w-5">
        <GitHubLogo />
      </div>
    </a>
  </div>
</div>
