---
import Layout from "./Layout.astro";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);
const lastModified = dayjs()
    .utc(Astro.props.frontmatter.lastModified)
    .format("DD MMMM YYYY");

const { minutesRead, title, description } = Astro.props.frontmatter;
---

<Layout title={title} description={description}>
    <section class="py-10">
        <h1 class="text-4xl font-bold">{title}</h1>
        <p class="text-sm">{minutesRead}</p>
        <p class="text-sm">last update: {lastModified}</p>
    </section>
    <main>
        <div
            class="prose-invert
      prose-h2:font-extrabold
      prose-h2:text-xl
      prose-headings:mt-5
      prose-a:text-blue-400
      prose-a:underline
      prose-a:decoration-dotted
      prose-a:transition
      prose-a:hover:text-blue-300"
        >
            <slot />
        </div>
    </main>
</Layout>
