---
interface Props {
  lastModified: Date;
  title: string;
  description: string;
  minutesRead: string;
  headings: MarkdownHeading[];
}

import Layout from "@/layouts/Layout.astro";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import TOC from "@/components/TOC.astro";
import type { MarkdownHeading } from "astro";

dayjs.extend(utc);

const lastModified = dayjs(Astro.props.lastModified)
  .utc()
  .format("DD MMMM YYYY");

const { headings, minutesRead, title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <div class="mb-10 flex">
    <main class="mx-auto flex max-w-[90%] flex-col md:max-w-[50%]">
      <section class="py-10">
        <h1 class="text-4xl font-bold">{title}</h1>
        <p class="text-sm">{minutesRead}</p>
        <p class="text-sm">last update: {lastModified}</p>
      </section>
      <div
        class="prose-invert prose-headings:mt-4 prose-h2:text-xl prose-h2:font-extrabold prose-a:text-blue-400 prose-a:underline prose-a:decoration-dotted prose-a:transition prose-a:hover:text-blue-300"
      >
        <slot />
      </div>
    </main>
    <div class="hidden max-w-[20%] pr-8 md:block">
      <TOC headings={headings} />
    </div>
  </div>
</Layout>
